.Container {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
}


.Btn {
  background-color: #EAECF0;
  text-decoration: none;
  border-radius: 8px;
  border: solid 1px #EAECF0;
  padding: 24px 32px;
}

.sharebtn {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 208px;
  top: 20px;
  background-image: url(./images/maxshare.svg);
  cursor: pointer;
}

.logos {
  display: inline-block;
  padding: 10px;
}

.Btn:hover {
  background-color: #D0D5DD;
}

.Footer {
  display: flex;
  justify-content: space-around;
}



@media (max-width: 600px) {
  .Footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sharebtn {
    right: 20px;
    background-image: url(./images/minshare.svg);
  }
}